 <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Welcome to Dashboard</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if user}}

                <li><a href="/users/logout">Logout</a></li>

                {{/if}}


            </ul>
        </div>
    </nav>
<br>
