
        
        <section id="contenneurform">
                
                       {{> messages}}
                               
                                 <button class="waves-effect waves-light active" id="login">Log in</button>
                                <div style="clear: both;"></div>
                                <button class="waves-effect waves-light" id="register" > <a href="/users/register">Sign up</a></button>
                              
                              
                             
                          
                            <form class="col s12 container" action="/users/login" method="post">
                                    <h1>Log in</h1>
                                    <form class="form" >
                                        <input class="inputanimation" type="text" placeholder="User Name" name="email">
                                        <input class="inputanimation" type="password" placeholder="Password" name="password">
                                        <button class="bouttonanimation" type="submit" id="login-button">Validate</button>
                                        <div class="remember">
                                        
                                              
                                                <div style="clear: both;"></div>
                                               
                                        </div>
                                    </form>
                                    <ul class="animate">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                            
                            </form>
                          
                            
                         
                        
                        </section>
              
                        <ul class="bg-bubbles">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                        </ul>
                        </div>
