


          <div class="back">
                   
             
                
                        <section id="contenneurform">
                       
                                   {{> messages}}            
                            
                            <form class="col s12 container2"  action="/users/register" method="post">
                            
                                <button  class="waves-effect waves-light" id="back"> <a href="/users/login">Log in</a></button>
                                   
                    
                                    <h1>Sign up</h1>
                                   
                                    <form class="form" >
                                        <input class="inputanimation" type="Email" placeholder="Email" name="email">
                                        <input class="inputanimation" type="password" placeholder="Password" name="password">
                                        <input class="inputanimation" type="password" placeholder="Confirme your password" name="password2">
                                        <button class="bouttonanimation" type="submit" id="login-button">Validate</button>
                                    </form>
                                    <ul class="animate">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                            </form>
                         
                        
                        </section>
              
                        <ul class="bg-bubbles">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                        </ul>
                        </div>
              
             
                